
<launch>

    <arg name="IP_ADDRESS" default="137.148.209.35"/>
    <arg name="robot_name" default="my_gen3"/>

    <!--Launch the Kortex Driver-->
    <include file="$(find kortex_driver)/launch/kortex_driver.launch">
        <arg name="dof" value="6"/>
        <arg name="gripper" value="robotiq_2f_140"/>
        <arg name="use_hard_limits" value="true"/>
        <arg name="start_rviz" value="false"/>
        <arg name="ip_address" value="$(arg IP_ADDRESS)"/>
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <!--Launch the Kinova Vision Subsystem-->
    <include file="$(find kinova_vision)/launch/kinova_vision_rgbd.launch">
        <arg name="device" value="$(arg IP_ADDRESS)"/>
    </include>

    <!--Launch the realsense camera-->
    <!-- <group ns="scene_camera"> -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera"  value="scene_camera"/>
        <arg name="filters" value="spatial,temporal,pointcloud"/>
    </include>
    <!-- </group> -->

    <!-- Create static transform between scene camera and robot base frame -->
    <node pkg="tf" type="static_transform_publisher" name="cam2robot" args=" -0.6 -0.49 0.76 .5 .5 .2 /base_link /scene_camera_link 100" />

    <!-- Launch realsense camera with custom params-->
    <!-- <group ns="camera">
        <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
            <arg name="serial_no"             value="f0140143"/>
            <arg name="json_file_path"        value="/home/labuser/L515 settings.json"/>
            <arg name="depth_width"           value="1024"/>
            <arg name="depth_height"          value="768"/>
            <arg name="confidence_width"      value="1024"/>
            <arg name="confidence_height"     value="768"/>
            <arg name="infra_width"           value="1024"/>
            <arg name="infra_height"          value="768"/>
            <arg name="align_depth"           value="True"/>
            <arg name="initial_reset"         value="True"/>
            <arg name="enable_pointcloud"     value="True"/>
        </include>
    </group> -->

    <!--Start Rviz with Custom Config-->
    <node name="rviz" pkg="rviz" type="rviz" ns="$(arg robot_name)" output="log" args="-f base_link -d $(find raf)/rviz/kinova_scene.rviz"/>
</launch>