
<launch>
    <!-- This launch file starts nodes necessary for HMI event handling:
            - Qt Creator Project
            - Talon
    -->

    <arg name="start_talon"         default="false"/>
    <arg name="start_qtcreator"     default="false"/>

    <!-- Launch Talon -->
    <group if="$(arg start_talon)">
        <node pkg="aliencontrol" type="aliencontrol" name="aliencontrol_talon">
            <param name="cmd" value="gnome-terminal -- ~/talon/run.sh"/>
        </node>
    </group>

    <!-- Launch Qt Creator -->
    <group if="$(arg start_qtcreator)">
        <node pkg="aliencontrol" type="aliencontrol" name="aliencontrol_qt">
            <!-- <param name="cmd" value="~/./Qt/Tools/QtCreator/bin/qtcreator"/> -->
            <param name="cmd" value="~/./build-RAF_GUI-Desktop_Qt_5_15_2_GCC_64bit-Debug/RAF_GUI"/>
        </node>
    </group>

    <node name="cam_view_selection" pkg="raf" type="cam_view_selection.py"/>

</launch>